:root {
	--color-surface: #171d19;
	--color-on-surface: #f5fbf5;
	--color-surface-dim: #404943;
	--color-on-surface-dim: #cfe9d8;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	font-family: sans-serif;
	background-color: black;
}

.viewport {
	margin: 0 auto;
	max-width: 500px;
	background-color: var(--color-surface);
	color: var(--color-on-surface);
	height: 100vh;
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	padding: 1.5rem;
	overflow-x: scroll;
}

img,
video,
iframe {
	max-width: 100%;
	height: auto;
}

.subtext {
	color: var(--color-on-surface-dim);
	font-size: 14px;
}
